<div class="collection-page" data-page="{{ page }}">
  {{#if loading}}
    <h3 class="text-center">Идет загрузка...</h3>
  {{ else }}
    {{#if items}}
      <div class="row">
        {{#each items as |item itemKey|}}
          <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="item r">
              <div class="item-media">
                <a class="item-media-content"
                   style="background-image: url('{{ coverUrl }}');"></a>
                <div class="item-overlay center">
                  <button class="btn-playpause"
                          data-play="playlist-chunk"
                          data-playlist="collectionPage:{{ page }}:{{ id }}"
                          data-play-id="collectionPage:{{ page }}:{{ id }}:{{ chunkInfo.id }}"
                          data-song-info="{{ json }}"
                          data-chunk-info="{{ chunkInfoJson }}"
                  >
                    Play
                  </button>
                </div>
              </div>
              <div class="item-info">
                <div class="item-title text-ellipsis">
                  {{ title }}
                  <small class="text-muted">{{ albumTitle }}</small>
                </div>
                <div class="item-author text-sm text-ellipsis">
                  <span class="text-muted">{{ singers }}</span>

                  {{#if videoUrl}}
                    <a href="{{ videoUrl }}" target="_blank" class="btn btn-sm btn-icon b-black m-l-1">
                      <i class="fa fa-youtube"></i>
                    </a>
                  {{/if}}
                  {{#if iTunesUrl}}
                    <a href="{{ iTunesUrl }}" target="_blank" class="btn btn-sm btn-icon b-black">
                      <i class="fa fa-apple"></i>
                    </a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{ else }}
      <h3 class="text-center">Не удалось загрузить.
        <a href="#" class="reload btn white">Повторить <i class="material-icons">cached</i></a>
      </h3>
    {{/if}}
  {{/if}}
</div>