<ul class="nav" data-ui-nav>
  {{#each menuItems}}
    <li class="nav-header hidden-folded m-t">
      <span class="text-xs text-muted">{{ title }}</span>
    </li>
    {{#each items}}
      <li>
        <a href="{{ url }}" {{#unless original}} data-route="{{ @key }}" {{/unless}}
          {{#if original}}target="_blank"{{/if}} {{#if style}}style="{{ style }}"{{/if}}>
          <span class="nav-icon">
            <i class="material-icons">{{ icon }}</i>
          </span>
          <span class="nav-text">{{ title }}</span>
        </a>
      </li>
    {{/each}}
  {{/each}}
</ul>