<div class="row-col">
  <div class="col-lg-9 b-r no-border-md">
    <div class="padding">
      <div class="page-title m-b">
        <h1 class="inline m-a-0">Вам понравилось</h1>
      </div>
      <div class="row item-list item-list-md item-list-li m-b">
        <div class="col-xs-12">
          {{#if loading}}
            <h3 class="text-center">Идет загрузка...</h3>
          {{ else }}
            {{#if items}}
              {{#each items}}
                <div class="item r">
                  <div class="item-media">
                    <a class="item-media-content"
                       style="background-image: url('{{ coverUrl }}');"></a>
                    <div class="item-overlay center">
                      <button class="btn-playpause"
                              data-play="playlist-chunk"
                              data-playlist="popular"
                              data-play-id="popular:{{ id }}:{{ chunkInfo.id }}"
                              data-song-info="{{ json }}"
                              data-chunk-info="{{ chunkInfoJson }}"
                      >
                        Play
                      </button>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="item-title text-ellipsis">
                      {{ title }}
                      <small class="text-muted">{{ albumTitle }}</small>
                    </div>
                    <div class="item-author text-sm text-ellipsis">
                      <span class="text-muted">{{ singers }}</span>
                    </div>
                    <div class="text-right text-muted">
                      <i class="fa fa-search"></i> {{ count }}
                    </div>
                  </div>
                </div>
              {{/each}}
            {{ else }}
              <h3 class="text-center">Здесь будут ваши лайки...</h3>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3"></div>
</div>